<div class="container border rounded m-3 text-center">
    <h2>Module {.name}</h2>
</div>

<p></p>

<div class="container border rounded m-3 text-center">
    <span class="btn btn-primary" hx-post="/module/{.id}" hx-target="#main">State</span>
    <span class="btn btn-primary" hx-post="/module_ctx/{.id}" hx-target="#main">ctx</span>
    <span class="btn btn-primary" hx-post="/module_log/{.id}" hx-target="#main">log</span>
</div>

<div class="container border rounded m-3">
    <label for="exampleFormControlTextarea1" class="form-label"> Лог модуля </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20">{.log}</textarea>
</div>

<span hx-post="/module_log/{.id}" hx-trigger="every 2s" hx-target="#main"></span>